@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');

h1 {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: bold;
  font-size: 65px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
p{
  font-family: 'Chakra Petch', sans-serif;
  margin: 50px;
  font-size: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
button{

}
img {
  max-width: 100%;
  height: 115%;
}
audio {
  display:none;
}
body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
}
button {
  display: inline-block;
}
.container {
  position: relative;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
.hide {
  opacity:0;
}
.container {
  height: 450px;
  width: 75%;
  border-bottom: 15px solid #a74641;
  position: relative;
  margin: 80px auto;
  left: 0;
  background-image: url(http://4.bp.blogspot.com/-DwxB2x0wcjQ/UeKVA-_xxaI/AAAAAAAAOEY/Py3JgmvNNeQ/s1600/sprite_effects_fire_sprite_fx_0037.gif);
  background-size: cover;
}
.init, .game-box {
  text-align: center;
}
.user {
  height: 75px;
  width: 40px;
  position: absolute;
  bottom: 0px;
  left: 80px;
  transition-duration: .75s;
}
.hurdle{
  visibility: hidden;
}
.main {
  visibility: visible;
  height: 150px;
  width:20px;
  bottom: 0;
  position: absolute;
  right: 0px;
  opacity: 0;
  animation: move 4500ms linear 1;
}

#one{
  animation-delay: 2s;
  height: 130px;
}
#one img, #two img, #three img,
#four img, #five img, #six img,
#seven img, #eight img, #nine img,
#ten img{
  max-width: 130px;
  max-height: 100%;
}

#two{
  animation-delay: 4s;
}
#three{
  animation-delay: 6s;
  height: 140px;
}
#four{
  animation-delay: 8s;
}
#five{
  animation-delay: 10.5s;
}
#six{
  animation-delay: 12.5s;
}
#seven{
  animation-delay: 16s;
}
#eight{
  animation-delay: 17.5s;
}
#nine{
  animation-delay: 19s;
}
#ten{
  animation-delay: 20.5s;
}
#winner {
  animation-delay: 23s;
  height: 400px;
  width:80px;
}
#winner img {
  height: 400px;
  width:80px;
}

@keyframes move {
  0% {
      left: 100%;
      opacity: 0;
    }
  25% {
    left: 75%;
    opacity:1;
  }

  50% {
    left: 50%;
    opacity: 1;
  }
  75% {
    left: 25%;
    opacity: 1;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
