/* Background from https://codepen.io/P1N2O/pen/pyBNzX?editors=1100 */
/* * {
  border: 2px solid black;
} */

img {
  max-width: 100%;
  height: 115%;
}
audio {
  display:none;
}
body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
}
button {
  display: inline-block;
}
.container {
  position: relative;
}
.init {
  transform: translate(-50%, -50%);
}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
.hide {
  opacity:0;
}
.container {
  height: 450px;
  width: 75%;
  border-bottom: 15px solid #a74641;
  position: relative;
  margin: 80px auto;
  left: 0;
  background-image: url(https://orig00.deviantart.net/2ba3/f/2008/222/7/2/faded_olympic_logo_by_conradchaos.png);
  background-size: cover;
}
.init, .game-box {
  text-align: center;
}
.user {
  height: 75px;
  width: 40px;
  position: absolute;
  bottom: 0px;
  left: 80px;
  transition-duration: .75s;
  /* border: 2px solid black; */
}
.hurdle {
  visibility: hidden;
}
.main {
  visibility: visible;
  height: 150px;
  width:20px;
  bottom: 0;
  position: absolute;
  /* background-color: blue; */
  right: 0px;
  animation: move 5s linear;
}

#one{
  animation-delay: 2s;
  height: 130px;
  /* width:40px; */
}
#one img, #two img, #three img,
#four img, #five img, #six img,
#seven img, #eight img, #nine img,
#ten img{
  max-width: 140px;
  max-height: 100%;
}
#two{
  animation-delay: 4.5s;
  /* height: 180px; */
}
#three{
  animation-delay: 7s;
  height: 140px;
}
#four{
  animation-delay: 10s;
}
#five{
  /* height: 180px; */
  animation-delay: 13s;
}
#six{
  animation-delay: 16s;
}
#seven{
  animation-delay: 18.5s;
}
#eight{
  /* height: 140px; */
  animation-delay: 20.5s;
}
#nine{
  animation-delay: 23s;
}
#ten{
  animation-delay: 25.5s;
}
#winner {
  animation-delay: 30s;
  height: 400px;
  width:20px;
  /* background-color: white; */
}
#winner img {
  height: 400px;
  width:100px;
}
.winner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4rem;
  /* background-color: #111; */
  text-align: center;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: all 250ms ease;
}

@keyframes move {
  0% {
      left: 100%;
    }

  50% {
    left: 50%;
  }

  100% {
    left: 0%;
  }
